@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color-itc:#0058ff
}

.nav-menu.hide{
  display: none;
}


.mobile-menu.hide{
  display: none;
}

.main.hide{
  display: none;
}

.mobile-menu{
  font-family: 'Roboto';
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

.header{
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header img{
  height: 100%;
}

.header button{
  border: none;
  background: transparent;
}

#logoDelCurso{
  /* margin-bottom: 20px; */
}

#header-button{
  color: var(--primary-color-itc);
  cursor: pointer;
  font-size: 2rem;
}

.main{
  background-color: rgb(46, 143, 199);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 70vh;
  margin-bottom: 24px;
}

.main img{
  padding-top: 15px;
  width: 80%;
  
}

.title-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 5px;
  width: 100vw;
  background-color: #1F1D36;
}

#instructor{
  width: 20%;
  margin: 10px;
}

.main h1{
  margin: 0 auto;
  width: 80%;
  color: #fafafa;
  font-size: 3rem;
  font-family: 'M PLUS 1 Code', sans-serif;
}

.twitter{
  margin: 0 auto;
  width: 80%;
  color: #fafafa;
  font-size: 1rem;
  font-family: 'M PLUS 1 Code', sans-serif;
}

.mobile-menu_container{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5 ease-in;
}

.mobile-menu_container ul{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu_container ul li{
  list-style: none;
  margin-bottom: 20%;
  font-size: 1.5rem;
}

#pico{
  font-size: 1.3rem;
}

#underscore{
  transform: ;
}

.description{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description{
  height: 25vh;
  margin-top: 2em;

}

.description, .about{
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.3rem;
  padding: 1em;
}

.description h1, .about h2{
  font-weight: bold;
  margin-bottom: 20px;
  color: #323233;
}

.description-btn{
  background-color: rgb(77, 117, 250);
  border: none;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
  font-weight: bold;
  height: 5vh;
  margin: 0 auto;
  width: 60vw;
}




.contenido-clases{
  font-family: 'Roboto';
  padding: 1em;
  background-color: rgb(226, 226, 241);
  color: rgb(87, 84, 84);
  
}

.contenido-clases h2{
  padding: 0.5em;
  background-color: rgb(56, 100, 243);
  border-radius: 5px;
  color: #fafafa;
}

.playIcons{
  align-items: center;
  color: #7e7b7b;
  cursor: pointer;
  margin: auto 0.5em;
  font-size: 1rem;
  padding: 0.4em;

}

.collapsible-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #fafafa;
  margin-top: 0.5em;
  font-weight: bold;
  border-radius: 5px;
  color: #333;
}

.collapsible-body{
  padding: 00.5em;
  box-shadow: ;//falta acaaaaaaa
}


.collapsible-body li{
  
  list-style: none;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 0.5em ;
  font-size: 1.1rem;
  
}

.collapsible-body.activo{
  height: 100%;
  border-radius: 0 0 5px 5px;
  padding-bottom: 0.3em;
  background-color: #fafafa;
  
}

.collapsible-body {
  height: 0;
  list-style: none;
  padding: 0;
  margin-left: 0;
  overflow: hidden;
  
}

footer{
  background-color: rgb(20, 27, 88);
  color: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  justify-content: space-evenly;
}

.footer-container{
  
  padding: 2em;
}

.footer-registro{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1em auto;
}

.footer-registro p{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.footer-registro label{
  margin: 15px auto;
}

.footer-registro input{
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  outline: none;
  padding: 0.5em;
  width: 80%;
}

.footer-registro button{
  background-color: rgb(43, 224, 52);
  border: none;
  border-radius: 10px;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  height: 10vh;
  letter-spacing: 2px;
  padding: 0.5em;
  width: 80%;

}

.redes{
  font-family: Roboto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2em auto;
  padding: 1em;
  height: 20vh;
  text-align: center;
}



.redes--logos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fafafa;
  font-size: 2.5rem;s
}

.redes p{
  color: #fafafa;
  font-size: 1.5rem;
  width: 100%;
}

.redes .logoRedes i{
  width: 1rem;
  margin: 1em;
}

